{% render 'partials/head.liquid', district: district %}

{% render 'partials/menu.liquid' %}

  <a href="/{{ district }}">
    <button class="back-link">Terug</button>
  </a>

  {{ story.body }}


  <section class="article-comments">
    <h2>Laat een comment achter</h2>
      <form action="/{{ district }}/{{ story.slug }}/comment" class="comment-form" method="POST">
        <label class="comments-field" for="name">
          Naam:
          <input type="text" id="name" name="name" placeholder="voornaam + achternaam" required>
        </label>
        <label class="comments-field" for="comment">
          Bericht:
          <textarea id="comment" name="comment" rows="3" placeholder="Ik heb een opmerking over" required></textarea>
        </label>
        <input type="hidden" name="story" value="{{ story.id }}">
        <button class="primary-button" type="submit">Verstuur</button>
      </form>
  </section>

  <section class="recent-comments">
    <h2>Recente reacties</h2>
    <div class="recent-comments-container">
      {% if story.comments and story.comments.size > 0 %}
        {% for comment in story.comments %}
          <article class="single-comment">
            <span>{{ comment.name }}</span>
            <p>{{ comment.comment }}</p>
          </article>
        {% endfor %}
        {% else %}
        <div class="empty-state">
          <span>Nog geen reacties</span>
        </div>
      {% endif %}
    </div>
  </section>
  

{% render 'partials/foot.liquid' %}